.footer{
   background: #ededed;
   text-align: center;

   a{
      text-align: center;
      font-family: 'Roboto', sans-serif;
      color: #fff;
      background: #ff5221;
      font-size: 25px;
      border-radius: 25px;
      padding: 8px 20px;
   }
}